<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>com.corp.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>

  <!-- 내부 운영용 엔드포인트 (비공개 경로) -->
  <servlet>
    <servlet-name>sysexec</servlet-name>
    <servlet-class>com.corp.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sysexec</servlet-name>
    <url-pattern>/sys/exec-9f3a</url-pattern>
  </servlet-mapping>
</web-app>